

body {
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em !important;
}


h1 > i {
    color: rgb(62, 62, 62);
}

h1 {
    font-size: 2em !important;
    text-wrap: wrap;
}
.content {
    max-width: 90vw;
    flex-wrap: wrap;
    text-wrap: wrap;
}

